workflows/CsTX5fW9cJIlMTxg.json
{
  "updatedAt": "2026-02-15T08:02:10.321Z",
  "createdAt": "2025-11-22T12:58:09.247Z",
  "id": "CsTX5fW9cJIlMTxg",
  "name": "DataLoad",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2144,
        -1200
      ],
      "id": "cd6237c0-6cf7-4cd0-a166-31143a801f12",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb743f69-1273-4018-ad91-e8667f8aa0ba",
              "name": "fileName",
              "value": "={{ $json.fileNames }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1632,
        -1088
      ],
      "id": "f5db54ab-31fa-4bf5-b54d-4d515cbd0172",
      "name": "singular file names"
    },
    {
      "parameters": {
        "url": "={{ $('Config').item.json.BASE_URL }}/get_post",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "post",
              "value": "={{ $json.fileName }}"
            },
            {
              "name": "step",
              "value": "filter-url-unresolved"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -656,
        -944
      ],
      "id": "7b057f16-70a9-40f8-ba98-c755a377db7d",
      "name": "get post"
    },
    {
      "parameters": {
        "url": "={{ $json.BASE_URL }}/posts_list",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "count",
              "value": "100"
            },
            {
              "name": "step",
              "value": "filter-url-unresolved"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -1792,
        -1088
      ],
      "id": "1a1d1256-d2ef-485a-b312-f54e6d243774",
      "name": "GetListPosts"
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true,
          "fileName": "={{$json.id}}.json"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        448,
        -848
      ],
      "id": "0a7cf40f-068c-4416-9345-8708e9148ca2",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=D:\\\\Master\\\\code\\\\stego-side-wing\\\\datasets\\\\news_url_fetched\\\\{{ $('Enumerate').item.json.id }}.json",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        672,
        -784
      ],
      "id": "d8fe5305-5b44-4f62-a6cc-aef92da214f9",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "batchSize": 5,
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1184,
        -1088
      ],
      "id": "74bb5d53-8eb2-4cdd-b93f-9b4ea6192c09",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "fieldToSplitOut": "fileName",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -1408,
        -1088
      ],
      "id": "69efb801-415f-420e-b3ff-c1f88fd200a0",
      "name": "Split Out"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "GhAbcOIAo7F9UMaA",
          "mode": "list",
          "cachedResultUrl": "/workflow/GhAbcOIAo7F9UMaA",
          "cachedResultName": "Fetch Url Content"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "url": "={{ $json.url }}"
          },
          "matchingColumns": [
            "url"
          ],
          "schema": [
            {
              "id": "url",
              "displayName": "url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -432,
        -1040
      ],
      "id": "c2d3e072-7b50-4989-94fe-a3151c7afdea",
      "name": "Call 'Fetch Url Content'"
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n  item.json.post.selftext = item.json.text;\n}\n\nreturn $input.all().map(x=>x.json.post);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        -944
      ],
      "id": "39a487f2-5901-4df4-868d-0f629842f25d",
      "name": "Enumerate"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -208,
        -944
      ],
      "id": "2a678e70-dcb3-40d9-89bf-4593633d0ed3",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab29b948-6b09-4d4a-8c11-6c1bb410d711",
              "name": "post",
              "value": "={{ $json }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -432,
        -848
      ],
      "id": "215046b8-4738-4d2e-94f9-6d70ca6f1f39",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "http://localhost:5678/webhook/4f5a58c6-168b-4c4d-8bcd-9cc1a5532a79",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -672,
        -1200
      ],
      "id": "16f90c59-3536-44db-88b6-056b29f93c78",
      "name": "Start Research",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2915c413-c2fd-4bb3-b143-d327561d949a",
              "leftValue": "={{ !$json.selftext || !$json.selftext.trim() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        -848
      ],
      "id": "b4d257a2-ce59-4cf6-9bce-0c8983289c26",
      "name": "Present"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        -912,
        -1200
      ],
      "id": "1bb58bdc-5e84-40fb-af57-fbe1b67ff6f4",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "path": "57d5c016-5721-472f-8ac6-c9ffac032465",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -2128,
        -976
      ],
      "id": "d28c2db2-b5c4-415c-8a39-2489ccbd873b",
      "name": "Webhook",
      "webhookId": "57d5c016-5721-472f-8ac6-c9ffac032465"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b871b0d0-5d81-4c01-ab48-fa83d98cc978",
              "name": "MODEL",
              "value": "openai/gpt-oss-20b",
              "type": "string"
            },
            {
              "id": "26ef596a-268f-4e84-a503-31cfd2d44e55",
              "name": "BASE_URL_LAP",
              "value": "http://127.0.0.1:5000",
              "type": "string"
            },
            {
              "id": "e8f91c16-780b-461f-af9d-444039d0ba52",
              "name": "BASE_URL",
              "value": "http://192.168.100.136:5001",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1968,
        -1072
      ],
      "id": "807f34a5-1c23-4828-a15a-cb15fbac3188",
      "name": "Config"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "singular file names": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get post": {
      "main": [
        [
          {
            "node": "Call 'Fetch Url Content'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetListPosts": {
      "main": [
        [
          {
            "node": "singular file names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'Fetch Url Content'": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enumerate": {
      "main": [
        [
          {
            "node": "Present",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Enumerate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Present": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Start Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config": {
      "main": [
        [
          {
            "node": "GetListPosts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "081d990f-2770-4ae1-b284-8384a9467258",
  "activeVersionId": "081d990f-2770-4ae1-b284-8384a9467258",
  "versionCounter": 60,
  "triggerCount": 1,
  "tags": [],
  "shared": [
    {
      "updatedAt": "2025-11-22T12:58:09.253Z",
      "createdAt": "2025-11-22T12:58:09.253Z",
      "role": "workflow:owner",
      "workflowId": "CsTX5fW9cJIlMTxg",
      "projectId": "OjdtAcp29h8ZUA6k",
      "project": {
        "updatedAt": "2025-10-01T18:42:40.745Z",
        "createdAt": "2025-10-01T18:31:22.020Z",
        "id": "OjdtAcp29h8ZUA6k",
        "name": "Nasooh AlOlabi <nasooholabi@proton.me>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "198cbed9-2053-49b6-8798-4b778fe5cd11"
      }
    }
  ]
}